@import url('fonts.googleapis.com/css2?family=Arial&display=swap');

h1 { 
    font-family: 'Arial', sans-serif; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
    } 

h2 { 
    font-family: 'Arial', sans-serif;
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 20.4px; 
    } 

h3 { 
    font-family: 'Arial', sans-serif;
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
    } 
    
p { 
    font-family: 'Arial', sans-serif;
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
    } 

.definition { 
    font-family: 'Arial', sans-serif;
    color: #566BB3;
    font-size: 25px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 30px; 
    padding: 15px;
    }

.grammar { 
    font-family: 'Arial', sans-serif;
    color: rgb(250, 79, 0);
    font-size: 21px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
    padding:5px;
    }

.button {
    color: #ffffff;
    background-color: #007BFF;
    border: 1px solid #007BFF;
    padding: 5px 10px 5px;
    margin-left: 5px;
    }

.button:hover {
    background-color: #e85019;
    border: 1px solid #e85019;
    }
.dates {
    font-size: .825em;
    margin: 12px auto;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.dates:hover td {
    opacity: .5;
}

.popup:hover heading[title] {
    opacity: 1;
}

.popup heading {
    width: 9%;
    padding: 2%;
    height: 24px;
    margin: 1% 1% 0 0;
    display: block;
    float: left;
    text-align: left;
    background: #eee;
    position: relative;
    color: #999;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    cursor: default;
}

.popup th {
    background: #333;
    padding-bottom: 0;
    border-bottom: 3px solid #9dc12a;
    color: #fff;
}

.popup [title] {
    background: #9dc12a;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.popup heading[title]:before {
    content: attr(title);
    display: none;
    position: absolute;
    top: -28px;
    left: 0;
    padding: 4px 6px;
    font-weight: 700;
    background: #000;
    color: #fff;
    overflow: visible;
    width: auto;
    word-wrap: normal;
    white-space: nowrap;
    z-index: 999;
}

.popup heading[title]:after {
    content: '';
    display: none;
    width: 0;
    height: 0;
    border: 12px solid #000;
    border-color: #000 transparent transparent transparent;
    position: absolute;
    top: -12px;
    left: 0;
}

.popup heading[title]:hover:after, .dates heading[title]:hover:before {
    display: block;
}   