@import url('fonts.googleapis.com/css2?family=Roboto&display=swap');

a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  color: white;
}

a:hover {     
  background: orange;
}

p {
    font-size: 110%;
}

li {
    font-size: 110%;
}

.navbar {
    padding: .8rem;
    background-color: tomato;
}

.navbar-nav li {
    padding-right: 20px;
}

.navbar-nav.navbar-center {
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
}

/* nav .navbar-dark.navbar-nav.navbar-link li a {
    color: white !important; 
    } */

.navbar.navbar-expand-md.navbar-dark.sticky-top ul li a{    
    color: white !important;
    font-family: 'Oswald', sans-serif;
}

div.box {
  margin: auto; !important
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

div.container3 {
   height: 10em;
   position: relative }

.center { 
  height: 200px;
  position: relative;
  border: 3px solid green; 
}

.center p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
}

.hero-image {
  background-image: url("/assets/images/ceann_sibeal.jpg");
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.transbox {
  margin: 7px;
  background-color: rgba(85, 79, 79, 0.63);
  border: 1px solid rgba(211, 208, 208, 0.103);
  opacity: 0.9;
}

.transbox h1 {
  margin: 10% 7% 10% 7%;
  font-weight: bold;
  color: #ffffff;
}

h2 {
    background-color: #D00000;
    color: white;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #ccc;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #D00000;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.active, .accordion:hover {
  background-color: #8b2424; 
}

button.accordion {
    background-color: #ffffff;
    color: #007bff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
}
button.accordion.active, button.accordion:hover {
    background-color: #c3d5ffa6; 
}
div.containerone {
  border: none;
  justify-content: center;
  background-color: rgb(209, 232, 255);    
  text-align: center;
  margin: auto;
}

h1,h4{
    cursor: pointer;
    color: black;
}